.btn-header {
    background-color:lightseagreen;
    color: white;
    margin-right: 10px;
}

.custom-header {
    background-color: #e25407;
}

.banner-size {
    width: 80%;
    height: auto;
}

.btn-clear {
    background-color: #e25407;
    color: white;
}

.delivery {
    border: 1px solid #EEEEEE;
    background-color: #00ECFF;
    color: white;
    display: inline-block;
    padding: 5px 25px;
    margin: 10px;
}

.movie {
    width: 50%;
    aspect-ratio: 16/9;
}

.movie iframe {
    width: 100%;
    height: 100%;
}

.thumbnail {
    width: 100%;
}